@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

:root {
  --primary-color: #f72585;
  --secondary-color: #7209b7;
  --tertiary-color: #3a0ca3;
  --quaternary-color: #4361ee;
  --quinary-color: #4cc9f0;

  --font-heading: 'Roboto', sans-serif;
  --font-base: 'Rokkitt', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


